.column_LastBanner {
    margin-top: 50px;
    float: left;
    width: 25%;
    text-align: center;
    padding-bottom: 100px;
}

.row_LastBanner:after {
    content: "";
    display: table;
    clear: both;
}

.row_LastBanner img {
    width: 90%;
    border-radius: 7px;
}

@media only screen and (max-width: 768px) {

    .column_LastBanner {
        width: 100%;
        border-radius: 7px;
        padding-bottom: 0px;
    }

}